.autocomplete
  background: #fff
  position: absolute
  width: 350px
  box-shadow: 0 3px 5px 2px rgba(40,40,40,0.1)
  top: 65vh
  left: 24vw
  transform: translateZ(150px)
  z-index: 1000

  .cancel
    position: absolute
    width: 20px
    z-index: 10
    top: 10px
    right: 15px
    color: #aaa
    cursor: pointer

  input
    padding: 12px 45px 12px 15px
    font-weight: 300
    width: 100%
    border: none
    outline: none
    font-size: 15px
    color: #111
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.open
  transition: all .5s ease
  display: block !important

.dialog
  width: 100%
  display: none
  min-height: 40px
  overflow: auto
  border-top: 2px solid #f4f4f4
  box-shadow: 0 3px 5px 2px rgba(40,40,40,0.1)
  transition: all 1s ease

  div
    padding: 8px 30px 8px 15px
    font-size: 15px
    cursor: pointer
    transition: all 0.2s
    box-shadow: 0 3px 5px 2px rgba(40,40,40,0.1)
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    transition: all 1s ease

.dialog div:hover
  background-color: #FE3D61
  color: #fff
